.message-box p {
    margin: 5px 0;
    padding: 8px;
    background-color: #e7d9d9;
    border-radius: 4px;
    word-wrap: break-word;
    width: fit-content;
}

.message-box .user-message {
    background-color: #233821;
    color: white;
    text-align: left;
    max-width: auto; 
    margin-bottom: 15px;
}

.message-box .user-message.right {
    background-color: #095d1a;
    text-align: right;
    margin-left:auto;
    margin-bottom: 15px;
}